.section-search input{
    font-size: 18px !important;
    padding: 8px !important;
}

.section-follow .fa-4x{
    margin: 20px 40px;
    transition-duration: 0.4s;
}

@media only screen and (max-width:660px) {
    .section-follow .fa-4x{
        margin: 10px;
    }
}
.section-follow .fa-4x:hover{
    transform: scale(1.3);
}

.section-gallery .col{
    margin-bottom: 20px;;
}

